@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #TESTIMONIAL::-webkit-scrollbar {
    width: none;
  }
  #TESTIMONIAL::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border-radius: 100vh;
  }
  #TESTIMONIAL::-webkit-scrollbar-thumb {
    background: #a8a3a3;
    border-radius: 100vh;
  }
}
